@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
html, body{
    width: 100%;
    height: 100%;
}
html::-webkit-scrollbar { width: 0; }
html { -ms-overflow-style: none; }
html { overflow: -moz-scrollbars-none; }
.container{
    display: flex;
}
.wrap{
    display: flex;
    height: 100%;
    width: 100%;
}
.menu-panel{
    display: flex;
    width: 300px;
    height: 1050px;
    background: radial-gradient(160.65% 47.4% at 93% 52.6%, #482C98 0%, rgba(45, 30, 136, 0) 100%), #06054A;
}
.logo-link img{
    width: 138px;
    height: 29px;
    margin: 41px 0 0 64px;
}
.logo{
    display: block;
    width: 172px;
    height: 44px;
    position: relative;
    top: 26px;
    left: 30px;
}
svg#logo-text{
    position: absolute;
    display: block;
}
.elips-logo:hover{
    stroke: #00c3ff;
    stroke-width: 3px;
}
.slogan{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    left: 195px;
    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 47px;
    height: 20px;
    background: #656AD9;
}
nav{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
nav a{
    display: flex;
    align-items: center;
    width: 300px;
    height: 52px;
    /*border-bottom: 1px solid #FFFFFF;
    !*opacity: 0.2;*!*/
    box-sizing: border-box;
    padding-left: 30px;
}
a.menu-link{
    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}
a.menu-link:hover{
    background: #433E8D;
}
a.menu-link.int{
    text-decoration: underline;
}
input#menu1.sandwich-checkbox{
    display: none;
}
.rect{
    display: flex;
    flex-direction: column;
    width: 300px;  /*535*/
    height: 455px;
    position: relative;
    top: -50px;
}
.elipse-panel{
}
.d{
    background-image: url("../img/vector1.svg");
    height: 1px;
    margin-left: 30px;
}
.company-info{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #ACADC1;
    padding-left: 30px;
    position: relative;
    top: 390px;
}
.main-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.main-panel{
    display: block;
    max-width: 1050px;
    margin: 36px 0 0 0;
}
.hidden {
    display: block;
}
header{
    display: flex;
    max-width: 1050px;
    justify-content: space-between;
}
.header-title{
    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    color: #2F2949;
}
.header-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-icon-item1, .header-icon-item2, .header-icon-item3, .header-icon-item4{
    display: flex;
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header-icon-item1{
    border: 1px solid #52458A;
}
.vec-cart:hover{
    stroke: #00c3ff;
    stroke-width: 2px;
}
.header-icon-item2, .header-icon-item3{
    background: #F0F1FA;
}
.header-icon-item4{
    background: #52458A;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 1060px;
    box-sizing: border-box;
    margin-top: 29px;
}
.card-item{
    display: flex;
    width: 262px;
    height: 333px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
}
.card-item:hover{
    box-shadow: 0 5px 20px rgba(82, 69, 138, 0.3);
    border: 1px solid #52458A;
    box-sizing: border-box;
}
.card-text, .card-text-4, .card-text-7{
    margin: 65px 0 0 -65px;
    position: relative;
}
.card-text-4{
    position: relative;
    left: 30px;
    top: 10px;
}
.card-text-7{
    position: relative;
    top: 10px;
}
.card-heading, .card-heading-7{
    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #2F2949;
}
.card-heading-7{
    display: inline-flex;
    width: 138px;
    line-height: 20px;
}
.sub-heading, .sub-heading-4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #777777;
}
.sub-heading-4{
    display: inline-flex;
    width: 199px;
    line-height: 20px;
}
.arrow{
    background-image: url("../img/vector12.svg");
    position: absolute;
    bottom: 30px;
    left: 160px;
    width: 17px;
    height: 13px;
}
.footer-text{
    display: flex;
    max-width: 691px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #2F2949;
    margin-top: 45px;
}
.vec-im:hover{
    stroke: #00c3ff;
    stroke-width: 3px;
}
@media screen and (max-width: 1440px){
    a.menu-link {
        text-decoration: none;
    }
}
@media screen and (max-width: 1392px){
    .card-item {
        width: 349px;
    }
    .menu-panel {
        height: 1294px;
    }
}
@media screen and (max-width: 1391px){
    .cards {
        justify-content: center;
    }
    .menu-panel {
        height: 1625px;
    }
}
@media screen and (max-width: 1042px){
    .menu-panel {
        height: 1625px;
    }
    .card-item {
        width: 265px;
    }
}
@media screen and (max-width: 812px){
    .menu-panel {
        height: 3000px;
    }
}
@media screen and (max-width: 711px){
    .header-title {
        font-size: 36px;
    }
}
@media screen and (max-width: 414px){
    .wrap{
        position: relative;
    }
    .logo {
        height: 53px;
        top: 7px;
        left: 15px;
    }
    .slogan {
        top: 0;
        font-size: 13px;
        width: 34px;
        height: 20px;
    }
    input#menu1.sandwich-checkbox{
        display: inline;
    }
    a.menu-link{
        text-decoration: none;
    }
    #elipse-closed{
        display: none;
    }
    .rect {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 455px;
        position: relative;
        top: -50px;
        justify-content: flex-end;
    }
    .main-panel {
        margin: 36px 0 0 45px;
        position: absolute;
        left: -31px;
        top: 60px;
        width: 380px;
    }
    .arrow{
        display: none;
    }
    .card-text, .card-text-4, .card-text-7 {
        margin: 65px 0 0 -15px;
    }
    .menu-panel {
        width: 414px;
        height: 70px;
        background: #06054a;
    }
    .sandwich {
        display: inline-block;
        cursor: pointer;
        transition: opacity 0.15s linear;
        float: right;
        margin: -42px 10px 0 0;
    }

    .sandwich-box {
        position: relative;
        width: 40px;
        height: 24px;
    }
    nav {
        margin-top: 107px;
    }
    nav a {
       width: 414px;
    }
    .rect {
        width: 414px;
        height: 455px;
        top: 97px;
        justify-content: flex-end;
        align-items: center;
    }
    .company-info {
        position: relative;
        z-index: 50;
        bottom: 40px;
        left: -11px;
        top: 143px;
        justify-content: center;
        padding-left: 0;
    }
    .sandwich-box-line, .sandwich-box-line:after, .sandwich-box-line:before {
        position: absolute;
        width: 30px;
        height: 1px;
        transition: transform 0.15s ease-out;
        border-radius: 4px;
        background: #fff;
    }
    .sandwich-box-line:before{
        width: 18px;
        margin-left: 12px;
    }

    .sandwich-box-line {
        top: 50%;
        display: block;
        margin-top: -1px;
    }
    .sandwich-box-line:before {
        top: 10px;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform, opacity;
    }
    .sandwich-box-line:after {
        top: 20px;
        bottom: -10px;
    }
    .sandwich-box-line:after, .sandwich-box-line:before {
        display: block;
        content: "";
    }
    .sandwich-checkbox {
        display: block;
        width: 40px;
        height: 40px;
        opacity: 0;
        position: absolute;
        z-index: 9999;
    }
    .sandwich-checkbox:checked ~ .sandwich-box .sandwich-box-line:before{
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
    }
    .sandwich-checkbox:checked ~ .sandwich-box .sandwich-box-line:after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
    }
    .sandwich-checkbox:checked ~ .sandwich-box .sandwich-box-line {
        transform: translate3d(0, 10px, 0) rotate(45deg);
    }
    .sandwich-checkbox ~ .sandwich-menu {
        display: none;
        margin-top: 32px;
    }
    .sandwich-checkbox:checked ~ .sandwich-menu {
        display: block;
        position: absolute;
        right: 0;
        background: radial-gradient(93.2% 1204.95% at 79.33% 383.02%, #482C98 0%, rgba(45, 30, 136, 0) 100%), #06054A;
        height: 665px;
        z-index: 50;
    }
    .cards {
         justify-content: flex-start;
    }
    .card-item {
        width: 172px;
        height: 233px;
    }
    .card-heading, .card-heading-7, .card-text-4{
        font-size: 16px;
    }
    .card-text-4{
        margin-left: -45px;
    }
    .sub-heading, .sub-heading-4{
        font-size: 13px;
    }
    .sub-heading-4 {
        width: 136px;
    }
    .footer-text {
        margin-bottom: 35px;
    }
    .hidden {
        display: none;
    }
}
@media screen and (max-width: 375px){
    .main-panel {
        margin: 17px 0 0 0;
        position: absolute;
        left: 0;
        top: 77px;
        width: 375px;
    }
    header {
        padding: 0 17px 0 18px;
    }
    .header-title {
        font-size: 30px;
    }
    .cards {
         justify-content: center;
    }
    .card-text, .card-text-4, .card-text-7 {
        margin: 35px 0 0 -15px;
    }
    .card-text-4{
        margin: 35px 0 0 -50px;
    }
    .card-text-7 {
        margin: 35px 0 0 0;
    }
    .menu-panel, .rect, nav a{
        width: 375px;
    }
    .rect {
        width: 375px;
        top: 97px;
    }
    .company-info {
        position: relative;
        z-index: 50;
        justify-content: center;
        bottom: -180px;
        padding-left: 0;
    }
    .sandwich-checkbox:checked ~ .sandwich-menu {
        height: 742px;
    }
    .footer-text {
        width: 329px;
        margin: 35px 17px 35px 18px;
    }
    .company-info {
        position: relative;
        z-index: 50;
        bottom: -90px;
        top: 220px;
    }
    .hidden {
        display: none;
    }
}





