<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset='UTF-8'>
		<link rel='stylesheet' href='../css/clock.css'>	
	</head>
	<body>
		<h1>Keep calm and write code &#128514 &#128521 &#128586</h1>
			<div id="clockdiv">
  				<div>
    				<span class="days"></span>
    					<div class="smalltext">Днів</div>
  				</div>
  		<div>
    		<span class="hours"></span>
    			<div class="smalltext">Годин</div>
  		</div>
  		<div>
    		<span class="minutes"></span>
    			<div class="smalltext">Хвилин</div>
  		</div>
  		<div>
    		<span class="seconds"></span>
    			<div class="smalltext">Секунд</div>
  		</div>
	</div>
		<script src="../scripts/jquery-3.3.1.min.js"></script>
		<script src="../scripts/clock.js"></script>
	</body>
	
</html>